In [22]:
# Import Libraries
import pandas as pd
import pickle as pk

In [23]:
# Read Data
raw = pd.read_csv('Stored Data\Hotel_Reviews_Sample.csv')

In [24]:
hotels = raw[['Hotel_Name', 'Hotel_Address', 'Average_Score', 'lat', 'lng']]
hotels.columns = ['Hotel', 'Address', 'Score', 'Latitude', 'Longitude']
hotels = hotels.drop_duplicates()

In [25]:
# Manually added latitute and longitude 
adjusted  = pd.read_csv('Stored Data\Adjusted_Hotel_Info.csv')
hotels = adjusted[['Hotel', 'Address', 'Score', 'Latitude', 'Longitude']]

hotels.head()

,Hotel,Address,Score,Latitude,Longitude
0,Hotel Arena,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,52.360576,4.915968
1,K K Hotel George,1 15 Templeton Place Earl s Court Kensington a...,8.5,51.491888,-0.194971
2,Apex Temple Court Hotel,1 2 Serjeant s Inn Fleet Street City of London...,9.2,51.513734,-0.108751
3,The Park Grand London Paddington,1 3 Queens Garden Westminster Borough London W...,7.7,51.514218,-0.180903
4,Park Plaza County Hall London,1 Addington Street Lambeth London SE1 7RY Unit...,8.4,51.501400,-0.116009

In [26]:
def city_identifier(address):
    address = address.split()
    if address[-1] == 'Kingdom':
        return 'London, United Kingdom'
    elif address[-1] == 'Austria':
        return 'Vienna, Austria'
    elif address[-1] == 'Netherlands':
        return 'Amsterdam, Netherlands'
    elif address[-1] == 'France':
        return 'Paris, France'
    elif address[-1] == 'Spain':
        return 'Barcelona. Spain'
    return 'Another City'
    
hotels['City'] = hotels['Address'].apply(lambda x: city_identifier(x))

hotels = hotels.reset_index(drop=True)

hotels.head(10)
len(hotels)

1154

In [27]:
# Concatenate positive and negative review in one column 
pos = raw[['Hotel_Name', 'Positive_Review', 'Review_Date', 'Reviewer_Score']]
pos.columns = ['Hotel', 'Reviews', 'Date', 'Score']
neg = raw[['Hotel_Name', 'Negative_Review', 'Review_Date', 'Reviewer_Score']]
neg.columns = ['Hotel', 'Reviews', 'Date', 'Score']
reviews = pd.concat([pos, neg])

print(len(reviews))
reviews.head(10)

12890

,Hotel,Reviews,Date,Score
0,Hotel Arena,Only the park outside of the hotel was beauti...,8/3/2017,2.9
1,Hotel Arena,No real complaints the hotel was great great ...,8/3/2017,7.5
2,K K Hotel George,Very comfortable beds smart bathroom good sho...,8/3/2017,9.6
3,Apex Temple Court Hotel,Everything,8/3/2017,10.0
4,Apex Temple Court Hotel,Great Hotel with wonderful staff and good cui...,8/3/2017,7.9
5,The Park Grand London Paddington,Location,8/3/2017,5.4
6,The Park Grand London Paddington,The front desk staff were very helpful and pl...,8/3/2017,7.5
7,The Park Grand London Paddington,Friendly atmosphere beds comfortable,8/3/2017,8.3
8,Park Plaza County Hall London,Just the location and view,8/3/2017,5.0
9,Park Plaza County Hall London,Around the corner from the London eye and use...,8/3/2017,7.5

In [28]:
# Remove Unnessecary Rows
reviews = reviews[reviews.Reviews != "No Positive"]
reviews = reviews[reviews.Reviews != "No Negative"]
reviews = reviews[reviews.Reviews != " "]

reviews = reviews.reset_index(drop=True)

print(len(reviews))
reviews.head(10)

11159

,Hotel,Reviews,Date,Score
0,Hotel Arena,Only the park outside of the hotel was beauti...,8/3/2017,2.9
1,Hotel Arena,No real complaints the hotel was great great ...,8/3/2017,7.5
2,K K Hotel George,Very comfortable beds smart bathroom good sho...,8/3/2017,9.6
3,Apex Temple Court Hotel,Everything,8/3/2017,10.0
4,Apex Temple Court Hotel,Great Hotel with wonderful staff and good cui...,8/3/2017,7.9
5,The Park Grand London Paddington,Location,8/3/2017,5.4
6,The Park Grand London Paddington,The front desk staff were very helpful and pl...,8/3/2017,7.5
7,The Park Grand London Paddington,Friendly atmosphere beds comfortable,8/3/2017,8.3
8,Park Plaza County Hall London,Just the location and view,8/3/2017,5.0
9,Park Plaza County Hall London,Around the corner from the London eye and use...,8/3/2017,7.5

In [29]:
# Store the sample data
outfile = open("Stored Data/sample_hotels.pickle", "wb")
pk.dump(hotels, outfile)
outfile.close()

outfile = open("Stored Data/sample_reviews.pickle", "wb")
pk.dump(reviews, outfile)
outfile.close()